<div class="container text-muted">

  <app-game-info [level]="level" [score]="score" [typeOfGame]="typeOfGame"></app-game-info>

  <div class="animated fadeInUp">
    <div class="row justify-content-md-center" *ngFor="let row of game; let i = index;trackBy: trackByFn">
      <div *ngFor="let tile of row; let j = index;trackBy: trackByFn" (click)="openCard(i, j)">
        <div [ngClass]="{'big': row.length < 7, 'medium': row.length < 12 && row.length > 6, 'small': row.length == 12}">
          <img
            class="animated"
            *ngIf="tile.open || tile.match"
            [ngClass]="{'match bounceIn': tile.match, 'flipInY': tile.open}"
            [src]="tile.id ? tile.contentfulImg : '/assets/images/game' + level + '/' + tile.img"
            alt="image">
          <img *ngIf="!tile.open && !tile.match" src="./assets/images/white.jpg" alt="image">
        </div>
      </div>
    </div>
  </div>
</div>
