.big, .medium, .small {
  border: 1px solid;
}
.match {
  cursor: auto !important;
}
.big img {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}
.medium img {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
.small img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
