<div class="text-muted">
  <h3>{{modalData.modalHeader}}</h3>
  <hr>
  <p>{{modalData.modalBodyMessage}}</p>
  <button class="btn btn-primary btn-block" (click)="dialogRef.close()">{{modalData.modalButton}}</button>
</div>
