<div class="text-muted">
  <h3>Enter Username</h3>
  <input type="text" class="form-control" placeholder="Username"
         [(ngModel)]="username">
  <br/>
  <button class="btn btn-primary btn-block" (click)="dialogRef.close(username)">Done</button>
</div>
