<div class="container text-muted">
  <br/>
  <div class="row justify-content-md-center">
    <h3>The best of the best!</h3>
  </div>
  <br/>
  <table class="table table-bordered table-hover">
    <thead>
    <tr class="bg-primary text-white">
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of scoreBoard; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{data.username}}</td>
      <td>{{data.score}}</td>
    </tr>
    </tbody>
  </table>
</div>

