<br/>
<div class="row justify-content-md-center">
  <h3 class="animated pulse delay-1s">Let the games begin!</h3>
</div>
<br/>
<div class="row">
  <div class="offset-4">Level: {{level}}</div>
  <div class="offset-3">Score: {{score}}</div>
</div>
<div class="row">
  <div class="offset-6">
    <button class="btn"
            ngDefaultControl
            *ngFor="let type of typesOfGame"
            [(ngModel)]="typeOfGame.id"
            [ngClass]="{'btn-primary': typeOfGame.id === type.id, 'btn-outline-primary': typeOfGame.id !== type.id}"
            (click)="changeTypeOfGame(type)"
            value="{{type.id}}">
      {{type.name}}
    </button>
  </div>
</div>
<br/>
