<nav class="navbar navbar-dark bg-primary justify-content-center">
  <button type="button" class="btn btn-primary navbar-brand" (click)="router.navigate(['game'])">Game</button>
  <button type="button" class="btn btn-primary navbar-brand" (click)="router.navigate(['scoreboard'])">Scoreboard</button>
</nav>
